@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/syne/500.css";
@import "@fontsource/syne/600.css";
@import "@fontsource/syne/700.css";

@theme {
  --font-body: "Inter", sans-serif;
  --font-heading: "Syne", sans-serif;
  --color-black: #0f0f0f;
  --color-white: #efefef;
  --color-gradient: linear-gradient(
    90deg,
    #ff4d6d 0%,
    #bd3eb2 25%,
    #7b2ff7 50%,
    #2f86f7 75%,
    #2ff7ed 100%
  );
}

@layer base {
  body {
    @apply bg-black text-white font-body text-xl overflow-x-clip scroll-smooth;
  }

  h3 {
    @apply font-heading text-2xl font-medium uppercase;
  }
}

@layer components {
  .main-container {
    @apply max-w-[1600px] w-full m-auto px-4 lg:px-12;
  }

  h1 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 99%;
      height: 1vh;
      background: var(--color-gradient);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 99%;
      height: 2px;
      background: var(--color-gradient);
      z-index: -1;
    }
  }

  .text-stroke {
    -webkit-text-stroke: 1px var(--color-white);
    color: transparent;
  }

  .btn {
    background: linear-gradient(var(--color-black), var(--color-black))
        padding-box,
      var(--color-gradient) border-box;
  }

  .btn:hover {
    background: var(--color-gradient) padding-box,
      linear-gradient(var(--color-black), var(--color-black)) border-box;
    color: var(--color-white);
  }

  .btn-light {
    background: linear-gradient(var(--color-white), var(--color-white))
        padding-box,
      var(--color-gradient) border-box;
    color: var(--color-black);
  }

  .btn-light:hover {
    background: var(--color-gradient) padding-box,
      linear-gradient(var(--color-white), var(--color-white)) border-box;
    color: var(--color-white);
  }

  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  .animate-marquee-reverse {
    animation: marquee 15s linear infinite reverse;
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .marquee-star1 {
    animation: rotate360 10s linear infinite;
    transform-origin: center;
  }
  .marquee-star2 {
    animation: rotate360 10s linear infinite reverse;
    transform-origin: center;
  }
}

@media (max-width: 1023px) {
  h1 {
    color: var(--color-black);
  }
  h1:before {
    height: 80%;
    bottom: 4px;
    width: 105%;
    left: -2px;
  }
  h1::after {
    display: none;
  }
}

.text-stable {
  text-wrap: stable;
}
